
@use '../../../styles/base/base.scss';
// .mt50{
//     margin-top: 60px;
// }

// bd1,bd2,bd3,bd4{
//     border-color: transparent;
// }

$colorRoyalBlue:rgb(6, 16, 27);
$colorRoyalBlue:base.$colorRoyalBlue;
$colorWhite:white;
$colorWhite:base.$colorWhite;
$colorGold:base.$colorGold;

.boxViewProductList{
    display: flex;
    justify-content: center;
}
// =================== boxProductListSearch
.boxProductListSearch{
    max-width: 970px;
}
// =================== boxDeliveryTimeAddress
.boxDeliveryTimeAddress {
    // margin: 10px;
    margin-top: base.$navbarHeight;
    span{
        font-size: 1.5rem;
        padding: .5rem;
        //color: $colorWhite;
        opacity: 1;
    }
    input{
        width: 70%;
    }
}
%hoverBtnGolden{
    color: $colorWhite;
    background-color: $colorGold;
}
// =================== ulScrollButtons
.ulScrollButtons {
    @extend .b-ulStyleNone;
    //z-index: -1;
    position: sticky;
    top: 54px;
    background-color: $colorRoyalBlue;

    // height: 80px;
    .btnCategory {
        @extend .b-btnGolden;
        color: $colorGold;
        width: 7rem;
        padding: .3rem;
        margin: .7rem;
        // & .a{
        //     color: $colorGold;
        // }
        // .a{
        //     color: $colorGold;
        // }
    }
    // .active{
    //     @extend %hoverBtnGolden;
    // }
    // .active a{
    //     &:hover {
    //         color: $colorWhite;
    //         background-color: $colorGold;
    
    //         transition-duration: .3s;
    //         border-radius: 20px;
    //     }
    
    //     &:focus {
    //         outline: none;
    //         box-shadow: none;
    //     }
        
    // }
}
// =================== Category Card
// .boxCategoryCard{
//     max-width: 970px;
// }
.CategoryCard {
    margin-top: 60px;
    background-color: $colorRoyalBlue;
    width: 90%;
    & .headerTitle {
        font-size: 2em;
        font-weight: bold;
        height: 2em;
        border-bottom: white solid 3px;
        text-align: center;
        color: $colorGold;
    }
    
}
// =================== productCard
%addButton {
    @extend .b-btnGolden;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    &:hover {
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

}
.productCard {
    // display: block;
    width: 250px;

    .imgContainer {
        @extend .b-imgContainer;
    }

    .priceBottom {
        display: flex;
        //flex-direction: space-between;
        justify-content: center;
        align-items: center;

        // padding: .5rem;
        & div,
        & button {
            margin: 0 .9rem;
        }
        .addButton{
            @extend %addButton;
        }
    }
    .hrDot {
        border: 1px dashed white;
    }
    // .addButton{
    //     margin-right: auto;
    // }
    //@extend bd1;
    // border: 2px yellow solid;
    // padding: 10px;
    // margin: 10px;
    // z-index: 2;
}
// =================== Shopcart
.boxShopCart {
    //z-index: 11;
    position: sticky;
    top: 80px;
    //display: inline-block;
    border: 2px solid $colorGold;
    padding: 1rem;
    margin: 10px;
    width: 300px;
    max-height: 80vh;
    overflow: auto;
    // position: fixed;
    // top: 60px;
    // left: 970px;

}

.tableShopcart {
    /* display: inline-flex; */
    width: 100%;
    
    /* padding: .4em; */
    border-collapse: collapse;
    /* border-collapse: separate;
      border-spacing: 15px; */
    font-size: 1.5em;

    .trShopitem {
        /* display: block; */
        border-bottom: $colorGold 4px solid;
        .tdProductName{
            vertical-align: bottom;
        }
        .tdPriceAmount {
            text-align: right;

            /* margin: auto 0 auto auto; */
            .divPriceAmount {
                float: right;

                .divCellPrice {
                    margin-top: 2em;
                }
                .divboxHorizontal {
                    display: flex;
                    .btnAdd{
                        @extend %addButton;
                        // border: 2px solid red;
                    }
                    .divCellAmount {
                        margin: auto 5px;
                        /* margin: auto; */
                    }

                }

            }
        }
    }
}

#modalShopcart{
    background-color: $colorRoyalBlue;
    
    .modal-content{
        background-color: lighten($color: $colorRoyalBlue, $amount: 7%);
    }
    .titleWhite {
        color: base.$colorTitle2;
    }

}
// =================== bottomBuy
.bottomBuy {
    margin: 10px;
    border: 2px solid $colorGold;
    height: 40px;
    // background-color: coral;
    position: fixed;
    // color: black;
    font-weight: 600;
    bottom: -9px;
    left: 0px;
    right: 0px;

    display: flex;
    justify-content: space-around;
    
}






// :local(.modal-dialog) {
//     width: 100vw;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     color: black;
// }

// :local(.modal-content) {
//     width: 100vw;
//     height: auto;
//     min-height: 100%;
//     border-radius: 0;
//     -webkit-border-radius: 0;
//     -moz-border-radius: 0;
//     -ms-border-radius: 0;
//     -o-border-radius: 0;
// }



